*.pyc
*.out
*.err
*.sh
*.txt
*.checkpoint
*.progress
*.minimum
*.input.yaml
*.updated.yaml
*.covmat
*.png
*.pdf
*.npz
mem*.ipynb
test*.ipynb
plots*.py
test*.py
test*.yaml
*.ipynb_checkpoints
*eggs/
.eggs/
lib/
lib64/
parts/
chains/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*chains
*.DS_Store
.DS_Store
resume_plot*
test_methods/
*.log
*.json
*.paramnames
*.ranges
*.pkl
*.ini
*.png
*.ranges
*results_plots/
examples/plot_CPL.ipynb
docs/build/
docs/build/html/
build/
/docs/build
