*.pyc
*.out
*.err
*.sh
*.txt
*.checkpoint
*.progress
*.minimum
*.input.yaml
*.updated.yaml
*.covmat
*.png
*.pdf
*.npz
mem*.ipynb
test*.ipynb
plots*.py
test*.py
test*.yaml
*.ipynb_checkpoints
*eggs/
.eggs/
lib/
lib64/
parts/
chains/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*chains
*.DS_Store
examples/.DS_Store
